@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@600&family=Maitree:wght@600&family=Roboto+Slab:wght@600&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    object-fit: cover;  
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
/* SIDE_BUTTON */
.sidenav {
    position: fixed;
    z-index: 99;
    transition: 0.25s;
    background-image: url(../img/bg_right_nav.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    width: 220px;
    height: 625px;
    z-index: 9;
    top: 100px;
    right: -10px;
}
.sidenav a {
    position: absolute;
    top: 105px;
    left: -50px;
    z-index: 0;
}
.sidenav a img {
    width: 90px;
    height: 100px;
}
.side-logo {
    padding: 90px 10px 8px 31px;
    width: 200px;
    height: 235px;
}
.side-btn {
    padding: 0px 15px 8px 32px;
    width: 205px;
    height: 60px;
}
/*-- Header --*/
.text-center {
    text-align: center;
}

.desktop {
    display: block;
}

.flex {
    display: flex;
}

.mobile {
    display: none;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

ul,
li {
    list-style: none;
}
.background {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.navbar {
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 2%;
}
.navbar a {
    text-decoration: none;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.header-bg {
    background-color: black;
    opacity: 74%;
    height: 7.5vw;
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.header-left {
    display: flex;
    justify-content: center;
    gap: 15%;
    width: 100%;
    padding-top: 50px;
}
.navbar img {
    width: 30%;
}
.header-right {
    display: flex;
    justify-content: center;
    gap: 15%;
    width: 100%;
    padding-top: 50px;
}
/* MAIN */
.main_nav {
    background-color: rgba(0, 0, 0, 0.452);
    width: 100%;
    height: 105px;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(190 176 33 / 65%);
}
.main_nav_content {
    width: 1360px;
    margin: 0 auto;
}

.main_nav_logo {
    width: 300px;
    padding-top: 115px;
}
.main_nav_logo img{
    width: 100%;
}
.main_nav_logo {
    float: 1;
    justify-content: space-between;
}
.main_nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main_nav li {
    margin: 0;
}
.main_nav a{
    color: #f1f2d3;
    font-size: 26px;
    width: 180px;
    height: 67px;
    margin:0 20px;
    font-family:'Roboto',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.main_nav ul li a:hover {
    background: rgba(0, 0, 0, 0.514);
}
/* ENDMAIN */

/* Right_NAV */
.right_nav {
    background: url(../img/bg_right_nav.png) no-repeat;
    width: 220px;
    height: 726px;
    position: fixed;
    z-index: 9;
    top: 150px;
    right: -10px;
    transition: all .4s;
    transform: translateX(120px);
}

.right_nav.active_right_nav {
    transform: translateX(0px);
}

.right_nav a.btn_right_nav {
    background: url(../img/logo_icon.png) no-repeat;
    width: 160px;
    height: 220px;
    position: absolute;
    top: 95px;
    left: 31px;
    transition: all .4s;
}

.right_nav a.btn_right_nav_logo:hover{
    filter: drop-shadow(0px 0px 2px #fff9c0);
}

.right_nav ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 321px;
    left: 0px;
}

/*-- Content --*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    max-width: 1150px;
}


/* -----------------MOBILE_NAV------------------- */
#logo-mobi {
    display: none;
    width: 15%;
    margin-top: 1%;
    margin-left: 3%;
}
.mobi-btn {
    display: none;
}
.banner-mobi{
    display: none;
}
.banner-mobi {
    background: url(../img/mb_header_box.png);
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 55vw;
    width: 100vw;
}
.banner-mobi-container {
    display: none;
    flex-direction: row;
    width: 80%;
    height: 80%;
}
.banner-1 {
    margin-top: 10%;
}
.banner-2 {
    margin-top: 5%;
}
.banner-3 {
    margin-top: 12.75%;
}
.btn_menu_nav {
    margin-right: 15px;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}
.btn_menu_nav img {
    width: 100%;
}
.menu_nav_mobi {
    position: fixed;
    z-index: 99;
    top: 10vw;
    right: 0;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.25s;
    display: flex;
    transform: translateX(278px);
}
.menu_nav_mobi ul {
    width: 100%;
}
.menu_nav_mobi li {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 8vw;
    border-bottom: 1px solid #a6a6a6;
}
.menu_nav_mobi li:hover {
    background: rgb(0, 0, 0, 1);
}
.menu_nav_mobi ul li a {
    color: #fff;
    width: 100%;
    font-size: 3vw;
    text-decoration: none;
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    padding: 0 1.5vw 0 1.5vw;
    transform: translateX(0);
}
/*-- Button-Group --*/
.dowload-btn img:hover {
    content: url('../img/active.png');
}
.btn-group button {
    display: flex;
    align-items: center;
    width: 100%;
}
.btn-group p {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
}
/*-- Banner --*/
.banner .flickity-page-dots {
    bottom: 11.5% !important;
    text-align: right !important;
}
.banner .flickity-page-dots .dot {
    width: 15px !important;
    height: 15px !important;
    background-color: white !important;
    opacity: 1 !important;
    border-radius: 5% !important;
    transform: rotate(45deg) !important;
    border: 1px solid #697796;
}
.banner .flickity-page-dots .dot.is-selected {
    background-image: url(../img/bxs--square.svg) !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: .7rem .7rem;
}

/*-- News --*/
#news h3,
#sect h1 {
    /* font-family: cursive,"Lucida Handwriting"; */
    font-family: "FzDucThuyThuphap";
    font-size: 72px;
    color: #385a54;
}
#news h3 span {
    font-family: "ThuPhap2";
    font-size: 70px;
}
#news-title {
    margin-left: -24%;
    margin-top: 5%;
}  
.board-select {
    background-image: url(../img/box_tintuc.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    object-fit: cover;
    padding: 3% 4% 5% 22.5%;
}
.board-head h1 {
    font-family: "ThuPhap";
    font-size: 125px;
    background: linear-gradient(to top, #feed6a 0%, #ffffc0 100%);
    color: transparent;
    background-clip: text;
}
.board-select h6 {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 27px;
    color: #385a54;
    text-transform: uppercase;
}
.board-info p {
    font-family: 'Maitree', serif !important;
    font-weight: 600;
    font-size: 25px !important;
    color: #385a54;
}
.board-button {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tin-tuc,
#su-kien,
#tinh-nang,
#huong-dan {
    width: 100%;
}
/*-- Sect --*/
.carousel-cell {
    display: flex;
    width: 100%;
    justify-content: center;
}
.title_tintuc{

}
.title_tintuc img{
    width: 100%;
}
.title_hethong{

}
#img-1 {
    width: 75%;
    object-fit: cover;
}
#img-2 {
    width: 74.761%;
}
#img-3 {
    width: 71.475%;
}
#img-4 {
    width: 62.238%;
}
#img-5 {
    width: 62.255%;
}
#img-6 {
    width: 72.316%;
}
#img-7 {
    width: 65.835%;
}
#img-8 {
    width: 71.185%;
}
#img-9 {
    width: 68.284%;
}
#img-10 {
    width: 64.051%;
}
#img-11 {
    width: 67.117%;
}
#img-12 {
    width: 64.754%;
}
#img-13 {
    width: 63.9135%;
}
#img-14 {
    width: 66.812%;
}
#sect #line {
    bottom: -1rem;
}
#sect .sect-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
#sect .sect-button p {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 18px;
    color: #385a54;
    line-height: 1.2;
}
#sect .sect-button img {
    width: 30%;
}
/*-- Footer --*/
footer p {
    font-family: 'Cabin Condensed', sans-serif;
    color: white;
    text-align: center;
}
footer #block18 {
    height: 55%;
}
footer #footer-logo {
    position: absolute;
    width: 25%;
    top: -38%;
    left: 27%;
}
footer #artboard {
    position: absolute;
    width: 20%;
    top: -39%;
    right: 15%;
}

/*-- Trang-Chu-Responsive --*/
@media screen and (max-width: 1200px) {
    
}

/*-- Tin-tuc --*/
#news-board-btn-group {
    background-image: url(../img/bang-tin-tuc.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    object-fit: cover;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#news-board-btn-group  button{
    padding-top: 10px;
}
#news-board-select {
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    object-fit: contain;
}
#board-paginate {
    max-width: 900px;
}
.test {
    display: grid;
    flex-direction: column;
    justify-items: right;
}

#news-detail h1 {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 32px;
    color: #385a54;
}
#news-detail a {
    font-family: 'Maitree', serif;
    font-size: 15px;
    color: #385a54;
}
#detail-img p {
    font-family: 'Maitree', serif;
    font-size: 15px;
    color: #385a54;
}
/* THE NEW */
.box_tintuc_img{
    max-width: 100%;
}
.list_new {
    padding-left: 16.5rem;
}


