@media screen and (max-width: 1400px){
.box_tintuc_img {
    width: 85.86vw;
    height: 59.143vw;
    padding: 1.6vw 0 0 1.6vw;
}
footer p {
    font-size: 19px ;
}
}
@media screen and (max-width: 1150px) {
    .navbar {
        width: 100%;
        height: 10vw !important;
        background-color: #00000093;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .navbar #logo-mobi {
        display: block;
    }
    .navbar #logo {
        display: none;
    }
    .banner-mobi {
        display: flex;
    }
    .mobi-btn {
        display: flex !important;
        margin-left: 2vw;
        gap: 2vw;
    }
    .btn_mb_nav li img {
        width: 100%;
    }
    .sidenav{
        display: none;
    }
    .header-left, .header-right {
        display: none !important;
    }
    .hamburger-btn {
        display: block !important;
    }
    .hamburger-menu{
        border: 1px solid #000;
    }
    .banner {
        display: none !important;
    }
    .banner-mobi{
        display: flex !important;
    }
    .banner-mobi-container{
        display: flex !important;
    }
    .sect-button-group{
        display: none !important;
    }
    #news_board_mobi{
        background-image: url(../img/bang-tin-tuc.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 3.5%;
        margin-right: 3.5%;
        justify-content: space-around;
        height: 10vw;
    }
    #news-mobi{
        background-image: url(../img/news-bg-mobi.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 5% 5% 8%;
        margin-right: 3.5%;
        margin-top: 5%;
        align-content: center;
    }
    #news-mobi .news-carousel {
        display: block;
        padding-top: 8%;
        width: 100%;
    }
    #news-head-mobi {
        background-image: url(../img/bang-tin-tuc.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 3.5%;
        margin-right: 3.5%;
        justify-content: space-around;
        height: 10vw;
    }
    #news-head-page h6 {
        font-size: 20px !important;
    }
    #news-head-page {
        height: 9vw !important;
       
    }
    
    .board-select{
        all: unset !important;
    }
    .carousel .carousel-cell {
        border-bottom: 3px solid #385a54;
    }
    .absolute{
        display: none !important;
    }
    footer p {
        font-size: 1.5vw;
    }
    .news-btn-page{
        display: none !important;
    }
    #sect .flickity-page-dots {
        display: none !important;
    }
    
}
@media screen and (max-width: 950px) {
    .news-btn-page {
        display: none;
    }
    .board-select h6 {
        font-size: 2vw !important;
    }
    .board-info p {
        font-size: 2.5vw !important;
    }
    .paginationjs .paginationjs-pages li > p {
        width: 3.5vw !important;
        height: 3.5vw !important;
        font-size: 2.5vw !important;
    }
    #news-board-page #tin-tuc p {
        font-size: 20px !important;
    }
    #news-detail-board-page h1 {
        font-size: 22px !important;
    }
    #news-detail-board-page p {
        font-size: 18px !important;
    }
    #news-detail-board-page span {
        font-size: 18px p !important;
    }
    .board-detail {
        width: 95% ;
    }
}
@media screen and (max-width: 850px) {
    .footer-mobi {
        display: grid !important;
    }
    .footer-pc {
        display: none ;
    }
    #news-head-page h6 {
        font-size: 15px !important  ;
    }
    #news-board-page #tin-tuc p {
        font-size: 2.5vw !important;
    }
}
@media screen and (max-width: 650px) {
    #news-detail-board-page h1 {
        font-size: 20px !important;
    }
    #news-detail-board-page p {
        font-size: 16px !important;
    }
    #news-detail-board-page span {
        font-size: 16px !important;
    }
    .hamburger-menu ul li a {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 550px) {
    #news-detail-board-page h1 {
        font-size: 18px !important;
    }
    #news-detail-board-page p {
        font-size: 14px !important;
    }
    #news-detail-board-page span {
        font-size: 14px !important;
    }
    #news-detail-board-page {
        height: 160vw !important;
    }
}
@media screen and (max-width: 450px) {
    .hamburger-btn {
        margin-right: 0 !important;
    }
    .paginationjs {
        margin-top: 2vw !important ;
    }
    .board-select h6 {
        padding-top: 0 !important;
    }
    #news-mobi .flickity-page-dots .dot.is-selected {
        background-size: 0.45rem 0.45rem 
    }
    #news-mobi .flickity-page-dots .dot {
        width: 10px !important;
        height: 10px !important;
    }
    #news-mobi .flickity-page-dots .dot {
        margin: 0 5px;
    }
    .board-info {
        margin-top: 1rem !important;
    }
    #news-head-page h6 {
        font-size: 2.5vw !important;
    }
    #news-detail-board-page h1 {
        font-size: 16px !important;
    }
    #news-detail-board-page p {
        font-size: 12px !important;
    }
    #news-detail-board-page span {
        font-size: 12px !important;
    }
    #news-detail-board-page {
        height: 200vw !important;
    }
    .hamburger-btn img {
        width: 70% ;
    }
    .hamburger-menu ul li a {
        font-size: 12px !important;
    }
}
@media screen and (max-width: 350px) {
    #news-detail-board-page h1 {
        font-size: 14px !important;
    }
    #news-detail-board-page p {
        font-size: 10px !important;
    }
    #news-detail-board-page span {
        font-size: 10px !important;
    }
    #news-detail-board-page {
        height: 280vw !important;
    }
    .hamburger-menu ul li a {
        font-size: 8px !important;
    }
}
@media screen and (max-width: 250px) {
    #news-detail-board-page {
        height: 400vw !important;
    }
}