@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@600&family=Maitree:wght@600&family=Roboto+Slab:wght@600&display=swap');

ul, li {
    list-style: none;
}
.data-container ul {
    padding: 0;
    margin: 0;
}
.paginationjs {
    display: flex;
    line-height: 1.6;
    font-family: 'Maitree', serif;
    font-size: 20px;
    box-sizing: initial;
    justify-content: center;
    margin-top: 25px;
}
.paginationjs:after {
    display: table;
    content: " ";
    clear: both;
}
.paginationjs .paginationjs-pages li {
    float: left;
    border: 2px solid #385a54;
    list-style: none;
    border-radius: 3px;
    margin-left: 20px;
}
.paginationjs .paginationjs-pages li > a {
    min-width: 40px;
    height: 36px;
    line-height: 35px;
    font-weight: 600;
    display: block;
    font-size: 25px;
    color: #385a54;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.paginationjs .paginationjs-pages li > a:hover {
    color: white;
    background: #385a54;
}
.paginationjs .paginationjs-pages li.active > a {
    background: #385a54;
    color: white;
    cursor: default;
}
.paginationjs .paginationjs-pages li.disabled > a {
    cursor: pointer;
}
.paginationjs .paginationjs-size-changer > select {
    height: 28px;
    background: #fff;
    border-radius: 3px;
    padding: 0;
    font-size: 14px;
    text-align: center;
    vertical-align: baseline;
    outline: 0;
    box-shadow: none;
    box-sizing: initial;
}
.paginationjs .paginationjs-nav {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.paginationjs>:first-child {
    margin-left: 0;
}